@model GDI.Components.Widgets.CommoditiesOrderForm.CommoditiesOrderViewModel
@if (Model != null && Model.IsVisible == true)
{
    <form id="frmCommoditiesOrder" asp-action="SubmitCommoditiesOrderForm" asp-controller="FormSubmit" data-ajax="true" data-ajax-method="POST" data-ajax-failure="OnFailureCommoditiesOrderForm" data-ajax-success="OnSuccessCommoditiesOrderForm" data-ajax-complete="OnCompleteCommoditiesOrderForm">
        @Html.AntiForgeryToken()
        <!-- This "main" tag is the parent for page content of websites all pages.-->
        <main id="maincontent">
            <article class="commodity-order">
                <div class="commodityForm">
                    <div class="form-head common-form common-content padd40">
                        <div class="grid-container text-center">
                            <h4>@Html.Raw(Model.ProductCardTitle)</h4>
                            <hr />
                            <section id="checkBoxSection"
                                 class="bulk-product-section grid-x grid-margin-x" data-equalizer="" data-equalize-by-row="" data-resize="" data-mutate="" data-e="">
                                @foreach (var commodities in Model?.productData)
                                {
                                    <div class="cell small-12 medium-6 xlarge-3 @commodities.BackgroundColor">
                                        <figure data-equalizer-watch="" style="height: 175px">
                                            <img src="@commodities.Image" alt="@commodities.ImageAltText" loading="lazy" />
                                        </figure>
                                        <h3>@commodities.ProductTitle</h3>
                                        @foreach (var subitems in Model.SubProduct.Where(x => x.ParentId == commodities.NodeId))
                                        {
                                            <div class="checkbox">
                                                <input type="checkbox" name="" id="check_@subitems?.Title?.Replace(" ","")" /><label for="check_@subitems?.Title?.Replace(" ","")">@subitems?.Title</label>
                                            </div>
                                        }
                                    </div>
                                }
                            </section>
                            <span class="errorLabel">Please select atleast one product.</span>
                        </div>
                    </div>
                    <div class="grid-container form-bottom common-form common-content padd40">
                        <div class="grid-x align-center">
                            <div class="grid-x grid-margin-x cell small-12 large-9">
                                <div class="cell small-12">
                                    <h4 class="text-center">
                                        @Html.Raw(Model.ProductFormTitle)
                                    </h4>
                                    <hr />
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*FIRST NAME</label>
                                    <input id="GDI_Web_Form_First_Name_Int__c" maxlength="50" type="text" name="FirstName" class="firstName" />
                                    <span class="errorLabel">Please enter your First Name.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*laST NAME</label><input id="GDI_Web_Form_Last_Name_Int__c"
                                                                maxlength="100" type="text" name="LastName" class="lastName" />
                                    <span class="errorLabel">Please enter your Last Name.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*title</label>
                                    <input id="JobTitle__c" maxlength="50" type="text" name="JobTitle" class="title" />
                                    <span class="errorLabel">Please enter your Title.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*email</label>
                                    <input id="email" maxlength="80" type="text" name="Email" class="email" />
                                    <span class="errorLabel">Please enter your Email.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*Company name</label>
                                    <input type="text" id="company" maxlength="80" name="Company" class="company" />
                                    <span class="errorLabel">Please enter your Company Name.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*phone</label>
                                    <input type="text" id="phone" maxlength="40" name="Phone" class="phone" />
                                    <span class="errorLabel">Please enter your Phone.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*city</label>
                                    <input type="text" id="City__c" maxlength="100" name="City" class="city" />
                                    <span class="errorLabel">Please enter your City.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*state</label>
                                    <select id="State__c" maxlength="100" name="State" class="state">
                                        <option value="">--State--</option>
                                        @foreach (var item in Model?.Getstates)
                                        {
                                            <option value="@item.Options">@item.Options</option>
                                        }
                                    </select>
                                    <span class="errorLabel">Please select your State.</span>
                                </div>
                                <div class="cell small-12 medium-4">
                                    <label>*zip code</label>
                                    <input type="text" id="Postal_Zip_Code__c" maxlength="10" name="ZipCode" class="zip" />
                                    <span class="errorLabel">Please enter your Zip Code.</span>
                                </div>
                                <div class="cell small-12 text-center mrgTB20">
                                    <span class="checkbox">
                                        <!--sign-->
                                        <input type="checkbox" id="Opt_In_to_News_and_Promotions__c" name="OptIn" value="1" />
                                        <label for="Opt_In_to_News_and_Promotions__c">
                                            YES, SIGN ME UP FOR NEW PRODUCT NEWS, TRENDS &amp; INNOVATIVE FLAVORS
                                        </label>
                                    </span>
                                </div>
                                <div class="cell small-12">
                                    <label>comments/questions</label>
                                    <textarea id="Reason_Comments__c" name="Comments" cols="" rows="3"></textarea>
                                </div>
                                <div class="cell small-12 text-center mrgTB20">
                                    <input type="submit" name="" class="button skyblueBtn btn-primary submitButton" disbaled="" value="Submit Request" disabled="" />
                                </div>
                                <div class="cell small-12">
                                    <label for="description" hidden="">Description</label><textarea hidden="" rows="3" name="Description" class="description" id="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-container text-center common-content mrgTB50 ThankyouPage hide">
                    <h2>Thank you.</h2>
                    <p>
                        Your inquiry has been received.<br />
                        A representative will contact you shortly.
                    </p>
                </div>
            </article>
        </main>
    </form>
}